@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic&subset=latin,cyrillic);

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	color: #666;
	font-family: "PT Sans",sans-serif;
	height: 100%;
}

.b-GGrid-wrap {
	height: 100%;
}

.b-GGrid-canvases {
	min-height: 100%;
	overflow: auto;
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;/* thank you Erik J - negate effect of float*/
}

.b-GGrid-canvases {
	width: 100%;
	height: 100%;
}

.b-GGrid-toolbar {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #fff;

	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.b-GGrid-toolbar_title {
	font-family: "PT Sans Narrow";
	padding: 0px 30px 0px 10px;
	border-radius: 10px;
	text-transform: uppercase;
	position: relative;

	background: #eeeeff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eeeeff 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeff 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeff 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeff 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

.b-GGrid-toolbar_closebutton {
	background: transparent url("../img/close.png") center center no-repeat;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	border-radius: 10px;
	border: 1px solid;
}

.b-GGrid-toolbar_content {
	word-spacing: 5px;
	white-space: nowrap;
	padding: 5px 10px;
}

.b-GGrid-toolbar_button {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('../img/sprite.png') top left no-repeat;
	border-radius: 3px;
	cursor: pointer;

	-webkit-box-shadow:  0px 0px 1px 0px rgba(0, 0, 0, 0.5);
	box-shadow:  0px 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.b-GGrid-toolbar_button:hover {
	-webkit-box-shadow:  0px 0px 1px 0px rgba(255, 0, 0, 0.5);
	box-shadow:  0px 0px 1px 0px rgba(255, 0, 0, 0.5);
}
